{% extends "base.html" %}
{% block content %}
<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" data-bind="editableText: name"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <span href="#" class="btn btn-success navbar-btn" data-bind="editableText: ip"></span>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
    <h1 data-bind="editableText: title"></h1>
    <h4 data-bind="editableText: ip"></h4>
</div>
{% endblock %}
